<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <a href="{% url 'home' %}"> <h1>HOME</h1> </a>

    {% if user.is_authenticated %}

    <h1> {{ user.username }} </h1><br>
    <a  href="javascript:{document.getElementById('logout').submit()}">Logout</a><br>
    <form id="logout" method="POST" action="{% url 'logout' %}">
      {% csrf_token %}
      <input type="hidden" />
    </form>

    {% else %}

    <a  href="{% url 'signup' %}">Sign Up</a>
    <a  href="{% url 'login' %}">Login</a><br>

    {% endif %}

    {% block content %}

    {% endblock %}

  </body>
</html>
